.context {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;

  > .main {
    flex-grow: 1;
    overflow-y: auto;

    > .test {
      width: 200px;
      background-color: rgb(237, 223, 223);
    }
    > .test-show {
      transition: height 1s ease;
      height: 200px;
    }

    > .test-hidden {
      transition: height 1s ease;
      height: 0px;
    }
  }
  > .bottom {
    flex-shrink: 0;
    background-color: #f1f3f4;
    display: flex;
    flex-direction: column;

    > .bottom-up {
      overflow: hidden;
      height: 50px;
      display: flex;
      border-bottom: 1px solid rgb(222, 219, 219);

      > .bottom-left {
        flex-grow: 1;
        padding-top: 10px;

        > input {
          border: none;
          box-shadow: none;
          padding: 0;
          background-color: white;
          border-radius: 20px;
          width: 330px;
          height: 30px;
        }
      }

      > .more {
        margin: 10px 10px 0 0;
        background-color: white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    /* @keyframes slideUp {
      from {
        transform: translateY(100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    } */

    > .bottom-down {
      /* transition: all 0.3s ease; */

      > .first {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        > div {
          background-color: #fff;
          border-radius: 10px;
          width: 100px;
          height: 100px;
        }
      }
      > .second {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        > div {
          background-color: #fff;
          border-radius: 10px;
          width: 100px;
          height: 100px;
          line-height: 1;
        }
      }
    }

    > .hidden {
      transition: height 1s ease;
      height: 0;
    }

    > .slide-in {
      transition: height 1s ease;
      height: 230px;
    }
  }
}
